export ZAMMAD_ADDRESS=http://dev-zammad.ppm.example.com
export ZAMMAD_USERNAME='expert@ppm.example.com'
export ZAMMAD_PASSWORD='1234QWer!'
export ZAMMAD_VERBOSE=True
# export ZAMMAD_TOKEN=


# Place the token and uncomment the above line with Zammed Token
# export ZAMMAD_TOKEN=jYRIn9_XHRB-wXvN2X6sQi7VP3KxKW-o8bFWYTHS8t92f9lJexs7xAhJIs72j713